@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  cursor: context-menu;
}

/* Animation of the front face */

@keyframes slider{
  to{
    background-image: url(Slider/0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  40%{
    background-image: url(Slider/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  80%{
    background-image: url(Slider/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  100%{
    background-image: url(Slider/4614275.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


/* Comman Classes */

:root{
  --font : 'Open Sans', sans-serif;
  --font-color : azure;
  --shadow-grey : grey;
  --shadow-black : black;
  --font-color-2 : #181818;
  --font-s12 : 1.2rem;
  --font-s-heading : 2rem;
  --font-s-main-head : 3rem;
  --font-s-para : 1.1rem;
  --img-color : #ededed;
}
a{
  text-decoration: none;
  font-family: var(--font);
  cursor: context-menu;
}
.gradient-text{
  background-image: linear-gradient(165deg, white , rgb(111, 250, 250));
  -webkit-background-clip: text;
  color: transparent;
}

.border-gradient{
  font-weight: 500;
  padding-bottom: 3px;
  background-image: linear-gradient(45deg , black , white , black);
  background-size: 0%  1px;
  background-position: bottom center ;
  background-repeat: no-repeat;
  transition: background-size 500ms ease;

}
.border-gradient:hover{
  background-size: 100%  1.5px;
}

.mt-40px{
  margin-top: 40px;
}
.mb-40px{
  margin-bottom: 40px;
}
.pt-40px{
  padding-top: 40px;
}

section{
  /* height: auto; */
  width: 90%;!important
  margin-top: 20px;
  background-color: #f0efec;
}

/* Front-face */

.time-line{
  height: 100vh;
  width: 100%;
  background-image: url(Slider/4614275.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom ;
  opacity: 1;
  animation-name: slider;
  animation-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px); /* add to fix webkit bug jitter */
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  animation-direction: alternate;
}

.ul-list{
  list-style: none;
  text-align: right;
}
.ul-list>li{
  display: inline-block;
  margin: 0 50px 0 0px;
  padding-top: 10px;
  font-size:var(--font-s12);
  font-family: var(--font);
} 
.ul-list>li a{
  color:whitesmoke;
}


/* Heading part */

.heading{
   position: absolute;
   top: 50%;
   left: 30%;
   transform: translate(-30% , -50%);
   font-size: var(--font-s-main-head);
   font-family: var(--font);
   font-weight: 600;
   line-height: 4rem;
   letter-spacing:-.3rem ;
   word-spacing: 1rem;
   color: var(--font-color);
   text-shadow: 0.02em 0.02em 0 var(--shadow-grey) , 0.05em .0.05em var(--shadow-black);
   text-decoration: none;
   cursor: context-menu;
}

/* Main Part */

/* Content */

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center ; 
}
.content{
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.content aside{
  display: inline-block;
  height: 400px;
  /* width: 40%; */
  margin-right: 40px;
  align-self: flex-start;
  line-height: 2.5rem;
  font-size: var(--font-s-para);
  padding:20px;
  padding-left: 30px;
  background-color: #f0efef;
  margin-bottom: 10px;
}

.ol-list-2 h1{
  text-align: center;
  font-family: var(--font);
  color:  rgb(100, 100, 100);
  font-size: xx-large;
  letter-spacing: .07em;
  margin-bottom: 5px;
}

.ol-list-2 li a{
  color: rgb(255, 68, 68);
} 
.ol-list-2 li a:hover{
  color: rgb(204, 41, 41);
  text-decoration: underline;
}

 .intro {
  display: inline-block;
  align-self: flex-start;
  width: 30%;
  letter-spacing: .04rem;
  word-spacing: .5rem;
  font-size: var(--font-s-para);
  font-family: var(--font);
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 50px;
}

/* Seven-Wonders */

.seven-wonders{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.seven-header{
  font-family: var(--font);
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: .04rem;
  word-spacing: .5rem;
  font-size: 2rem;
  cursor: context-menu;
  color: darkcyan;
}


.seven-para{
  font-size: var(--font-s-para);
  letter-spacing: .04rem;
  word-spacing: .5rem;
  font-family: var(--font);
  width: 68%;
}
.seven-wonders >img{
  height: 100%;
  width: 100%;
}
.seven-wonders>span a{
  color: rgb(255, 68, 68);
  word-spacing: normal;
  letter-spacing: normal;
}
.seven-wonders>span a:hover{
  color: rgb(204, 41, 41);
}



.slider{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 65%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.img_slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.img_slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  height: 100%;
  width: 100%;
}
.navigation{
  position: absolute;
  width: 65%;
  height: auto;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  /* margin-left:12% ; */
}
.navigation-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.navigation-btn:not(:last-child){
  margin-right: 20px;
}
.navigation-btn:hover{
  background: white;
}

#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left:-20% ;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}

#radio5:checked~.second{
  margin-left: 0;
}
#radio6:checked~.second{
  margin-left:-20% ;
}
#radio7:checked~.second{
  margin-left: -40%;
}
#radio8:checked~.second{
  margin-left: -60%;
}

#radio9:checked~.third{
  margin-left: 0;
}
#radio10:checked~.third{
  margin-left:-20% ;
}
#radio11:checked~.third{
  margin-left: -40%;
}
#radio12:checked~.third{
  margin-left: -60%;
}

#radio13:checked~.fourth{
  margin-left: 0;
}
#radio14:checked~.fourth{
  margin-left:-20% ;
}
#radio15:checked~.fourth{
  margin-left: -40%;
}
#radio16:checked~.fourth{
  margin-left: -60%;
}

#radio17:checked~.fifth{
  margin-left: 0;
}
#radio18:checked~.fifth{
  margin-left:-20% ;
}
#radio19:checked~.fifth{
  margin-left: -40%;
}
#radio20:checked~.fifth{
  margin-left: -60%;
}

#radio21:checked~.six{
  margin-left: 0;
}
#radio22:checked~.six{
  margin-left:-20% ;
}
#radio23:checked~.six{
  margin-left: -40%;
}
#radio24:checked~.six{
  margin-left: -60%;
}

#radio25:checked~.seven{
  margin-left: 0;
}
#radio26:checked~.seven{
  margin-left:-20% ;
}
#radio27:checked~.seven{
  margin-left: -40%;
}
#radio28:checked~.seven{
  margin-left: -60%;
}



/* Contact Section */
.contact{
  background-image: url(contact/wp3377147-shiny-black-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  height: 70%;
}
.contact form{
  /* padding-top: 20px; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 5%;
  flex-wrap: wrap;
  padding-left: 20px;
}
.contact form input{
  background-color: #484b4b;
  height: 40px;
  width: 35%;
  margin-right: 40px;
  margin-top: 10px;
  border: transparent;
  font-family: var(--font);
  padding: 2px;
  border-radius: 5px;
  transition: transform 500ms;
  color: rgb(177, 177, 177);
}
.contact form input:hover{
 transform: scale(1.04);
}
.contact form button{
  /* background-color: rgb(5, 223, 223); */
  background-image: url(contact/cyan.jpg);
  height: 40px;
  width: 18%;
  margin-left: 39%;
  border: transparent;
  color: whitesmoke;
  border-radius: 5px;
  font-family: var(--font);
  font-weight: 800;
  transition: transform 500ms , filter 500ms;
  filter: grayscale(100%);
}
.contact form button:hover{
  transform: scale(1.04);
  filter: grayscale(0);
}

/* Social Symbols */

.social-symbols{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}
.social-symbols ul{
  list-style: none;
}
.social-symbols ul li {
  display: inline-block;
  margin: 10px 10px 5px auto;
}
.social-symbols a img {
  width: 30px;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 100ms;
}
.social-symbols a img:hover{
filter: grayscale(0);
}

/* Author details */
.author-name{
  display: flex;
  height: 100px;
  align-items: flex-end;
}

.author-name p{
  height: auto;
  width: 100%;
  font-family: var(--font);
  padding-bottom: 5px;
}
.author-name p a{
  color:whitesmoke;
}


@media screen and (max-width:1095px){
  :root{
  --font-s12 : 1.1rem;
  --font-s-heading : 1.5rem;
  --font-s-main-head : 2.5rem;
  --font-s-para : 1.1rem;

  }
  section:nth-child(n+1){
    width: 90%;
  }
  section:nth-child(n+2){
    width: 90%;
  }
  .time-line{
    height: 100vh;
  }
  .content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .content aside{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
  }
  .intro{
    height: auto;
    margin: 20px;
    width: 100%;
  }
  .seven-para{
    width: 95%;
    padding-left: 10px;
    overflow-wrap:break-word ;
    letter-spacing: .02rem;
    word-spacing: .3rem;
  }
  .slider{
    width: 90%;
    height: auto;
  }
  .navigation{
    width: 90%;
  }
}




@media screen and (max-width:572px){
  :root{
    --font-s12 : 1.1rem;
    --font-s-heading : 1.5rem;
    --font-s-main-head : 2.0rem;
    --font-s-para : 1.1rem;
    }
    .mt-40px {
      margin-top: 30px;
    }
    section:nth-child(n+1){
      width: 100%;
    }
    section:nth-child(n+2){
      width: 100%;
    }
    .time-line{
      height: 100vh;
    }
  .content aside{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
    .heading{
      letter-spacing: normal;
      line-height: normal;
    }
    .intro{
      width: 100%;!important
      margin: 0;
      height: auto;
      margin: 0px;
      margin-bottom: 20px;
    }
    /* .slider{
      width: 100%;
      height: auto;
    }
    .navigation{
      width: 100%;
    } */
    .slider{
      height: 300px;
    }
    .slide img{
      height: 300px;
    }
    .navigation{
      margin-top: -224px;
    }
    .navigation-btn{
      padding: 4px;
    }
    .seven-header{
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
    .contact-heading{
      font-size: 1.5rem;
    }
    .contact form input{
      width: 30%;
      height: 25px;
    }
    .contact form button{
      width: 15%;
      height: 30px;
      margin-left: 37%;
    }
    .author-name{
      font-size: .7rem;
      height: 50px;
    }
    .social-symbols a img{
      width: 15px;
    }
}

@media screen and (max-width:380px) {
  :root{
    --font-s12 : 1.0rem;
    --font-s-heading : 1.2rem;
    --font-s-main-head : 1.5rem;
    --font-s-para : 1.0rem;
    }
    .mt-40px {
      margin-top: 20px;
  }
  .heading{
    letter-spacing: normal;
    line-height: normal;
  }
  .intro{
    width: 100%;!important
    margin: 0;
    height: auto;
    margin: 10px;
  }
  .seven-header{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding: 10px;
  }
  .slider{
    height: 300px;
  }
  .slide img{
    height: 300px;
  }
  .navigation{
    margin-top: -224px;
  }
  .navigation-btn{
    padding: 4px;
  }
  .contact-heading{
    font-size: 1.5rem;
  }
  .contact form{
    height: auto;
  }
  .contact form input{
    width: 30%;
    height: 20px;
    font-size: .7rem;
  }
  .contact form button{
    width: 15%;
    height: 25px;
    margin-left: 37%;
    font-size: .8rem;
    font-weight: 400;
  }
  .author-name{
    font-size: .7rem;
    height: 50px;
  }
  .social-symbols a img{
    width: 15px;
  }
}